@font-face {
    font-family: "font";
    src: url("/Font/font.ttf");
}

.root {
    -fx-background-color: #26794a;
    -fx-font-family: "/Font/font.ttf";
    -fx-font-size: 14;
}

.backdrop {
    -fx-background-color: #000000;
}

.button {
    -fx-background-color: #d0942f;
    -fx-border-color: #ffffff;
    -fx-border-width: 3;
    -fx-padding: 5;
    -fx-font-size: 18;
    -fx-font-family: "/Font/font.ttf";
}

.button:hover {
    -fx-background-color: #e8b462;
    -fx-text-fill: #bebebe;
}

.button:pressed {
    -fx-background-color: #624516;
    -fx-text-fill: #858585;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-family: "/Font/font.ttf";
    -fx-font-size: 16;
}
